<div class="text-start m-3">
<h1>Настоящие условия использования применимы ко всем разделам веб-сайта www.eng3.ru и обязательны для соблюдения всеми его посетителями.
</h1>
В случае несогласия с данными положениями, пожалуйста, немедленно покиньте ресурс.
<br>
Основные положения
<br>
1.1. Для получения доступа ко всем интерактивным функциям сайта (комментирование, обратная связь, создание и управление личным профилем) каждый пользователь (как гость, так и зарегистрированный участник) должен подтвердить свое согласие с настоящими Правилами.
<br>
1.2. Администрация оставляет за собой право блокировать аккаунты пользователей, нарушающих настоящие Правила, общепринятые нормы сетевого этикета и поведения, без предварительного уведомления.
<br>
1.3. Администрация имеет право удалять или редактировать комментарии, нарушающие Правила сайта, нормы этикета и поведения в сети, без уведомления автора.
<br>
1.4. Администрация не блокирует пользователей по запросам третьих лиц, если только пользователь не нарушает настоящие Правила.
<br>
1.5. Администрация сайта может изменять и дополнять данные Правила без предварительного уведомления посетителей. Пользователи и гости обязаны самостоятельно отслеживать изменения в Правилах.
<br>
Регистрация
<br>
2.1. Для получения расширенного доступа к сайту, по сравнению с гостевым, необходимо создать учетную запись (зарегистрироваться), чтобы подтвердить свою принадлежность к реальному человеку.
<br>
2.2. Успешная регистрация на сайте подразумевает безусловное согласие с данными Правилами, а гостевое посещение не освобождает от соблюдения Правил, изложенных на этой странице.
<br>
2.3. При регистрации (и в дальнейшем при использовании своей страницы) пользователь должен указывать действующий адрес электронной почты, используемый для активации аккаунта. Остальные персональные данные (включая фото) и контактные данные также должны быть достоверными и принадлежать только пользователю.
<br>
2.4. Логин – это персональный и уникальный идентификатор пользователя, используемый для авторизации на сайте. Запрещается использование в логине оскорбительных слов, сходства с уже существующими логинами, а также любых других логинов, нарушающих общепринятые моральные и этические нормы. Эти же требования распространяются на другие личные данные пользователя (включая фото).
<br>
Рекомендации по поведению
<br>
3.1. Соблюдайте взаимную вежливость и придерживайтесь общих принципов сетевого этикета при написании комментариев:
<br>
Не используйте только заглавные буквы в тексте комментария.
<br>
Обращайтесь к собеседнику по имени.
<br>
Старайтесь избегать орфографических и логических ошибок для удобства чтения и восприятия.
<br>
Не отклоняйтесь от темы обсуждения. Если у вас есть вопрос, не освещенный на сайте, воспользуйтесь поиском или обратитесь в службу технической поддержки.
<br>
Ограничения и запреты
<br>
4.1. Запрещены флуд и реклама в любой форме без согласования с Администрацией.
<br>
4.2. Запрещается копирование дизайна или его элементов, так как разработка защищена авторским правом.
<br>
4.3. Пользователи могут копировать материалы сайта только с обязательным указанием активной ссылки на ресурс.
<br>
4.4. Запрещено размещение оскорбительных, пропагандистских комментариев, грубого обращения к другим пользователям и ненормативной лексики.
<br>
4.5. Запрещено размещение информации от имени другого пользователя без его разрешения.
<br>
4.6. Запрещено размещение ссылок на вредоносные ресурсы (фишинговые, вирусные и т.д.), способные нанести ущерб посетителям сайта (кража данных, нарушение работы ПО и прочее).
<br>
4.7. Запрещены любые действия, направленные на уничтожение, искажение материалов сайта и нанесение иного вреда сайту и его участникам.
<br>
4.8. Запрещено выдавать себя за другого человека, в том числе за администрацию сайта.
<br>
4.9. Запрещено вводить пользователей в заблуждение, предоставляя ложную информацию о своей профессиональной деятельности и ценах на нее.
<br>
Отказ от ответственности
<br>
5.1. Все комментарии, опубликованные пользователями на сайте, выражают личную точку зрения их авторов в рамках Правил сайта. Администрация не несет ответственности за содержание комментариев и не дает никаких гарантий относительно их достоверности.
<br>
5.2. Администрация сайта не проверяет достоверность личных данных пользователей. Пользователи несут ответственность за предоставление точной информации в соответствии с пунктом 2.3 настоящих Правил.
<br>
5.3. Все бесплатные авторские разработки сайта (модули, скрипты и т.д.) распространяются по лицензии GNU GPL v. 3 (как есть, без каких-либо гарантий) с обязательным сохранением авторских прав.

</div>
