
<div class="text-start m-3">
<h1>Согласие пользователя сайта на обработку персональных данных</h1>
Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006, Я, субъект персональных данных, именуемый в дальнейшем «Пользователь», во время использования мною веб-сайта: https://eng3.ru/ (далее - Сайт, Сервис), свободно, своей волей и в своем интересе выражаю полное, безоговорочное и однозначное согласие на обработку моих персональных данных (далее - Согласие) на следующих условиях:
<br>
1.	Согласие выдано владельцу сайта eng3.ru (далее - Оператор),
<br>
2.	Согласие выдано на автоматизированную обработку предоставляемых нижеуказанных персональных данных, включая использование интернет-сервисом Яндекс Метрика, в соответствии со следующем перечнем:
<br>
IP адрес;<br>
информация из cookies;<br>
информация о браузере;<br>
время доступа;<br>
реферер (адрес предыдущей страницы).<br>
также при подаче заявок:<br>
E-mail;<br>
Фамилия Имя Отчество;<br>
Должность/ роль в проекте;<br>
Контакты в мессенджерах;<br>
Номер телефона.<br>
<br>
3.	Согласие выдано на обработку персональных данных в целях:<br>
измерения посещаемости Сайта;<br>
сбор заявок на участие в премии.<br>
<br>
4.	Я согласен с тем, что под обработкой данных понимаются действия с персональными данными, включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, обезличивание, блокирование, уничтожение персональных данных.
<br>
5.	Настоящим, Пользователь подтверждает, что ознакомился с «Политикой конфиденциальности персональных данных, обрабатываемых посредством сайта https://eng3.ru/».
<br>
6.	Я проинформирован о возможности отзыва согласия на основании положений Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных» направления письменного обращения в свободной форме заказным письмом с уведомлением о вручении в адрес Оператора или на следующий адрес электронной почты: eng3info@gmail.com.
<br>
7.	Настоящее согласие на обработку персональных данных действует с момента его представления Оператору и до достижения целей обработки на основании документов Оператора, регламентирующих вопросы обработки персональных данных. При достижении целей обработки Персональных данных, а также в случае отзыва Пользователем согласия на обработку персональных данных, Персональные данные подлежат уничтожению в соответствии с требованиями организационно-распорядительной документации Оператора.

</div>