{% extends 'base.html' %}
{% block content %}
{{ super() }}
    <center>
    <a href="javascript:history.back()" class="btn btn-warning m-1">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223"/>
    </svg>
        Go Back</a>
<img src="{{ url_for('static', filename='404.png') }}" />

        <h1>На eng3.ru не найдено!</h1>

    </center>
{% endblock %}